<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>네이버 뒤 구글 연습</title>
</head>
<body>
    <form action = "https://www.google.com/search">
        <!-- 네이버는 query로 구분하는데 google은 다를 수 있음-->
        <input type="text" name="q">
        <!-- 근데!!!!!!!QQQ 근본적으로 궁금한게 여기다가 input하면 어떻게 그게 저 뒤에 action으로 붙어서 간다구??? -->
        <!-- The name of the control, which is submitted with the form data : 애초에 붙여서 제출! -->
        <input type="submit" value="검색 요청">
    </form>
    
</body>
</html>