<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>핑퐁 다음 검색 연습</title>
</head>
<body>
    <!-- 사용자가 naver라는 곳으로 오면 저런 form을 만들 것 -->
    <form action = "https://search.naver.com/search.naver">
        <!-- main 주소 놔두고, 쿼리 뒤 검색어만 바꿔주면 됨, -->
        <!-- 물음표 기준으로 query string 구분함 -->
        검색어: <input type = "text" name = "query"><br>
        <input type = "submit" value = "검색">

        <!-- 우리는 main action은 ping에서 입력 받으면 naver 메인 페이지로 가게 form 짜줬고-->

    </form>
</body>
</html>